---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    title: string;
    path: string;
    alt: string;
    url: string;
    description: string;
}

const {title, path, alt, url, description} = Astro.props; 

const images = import.meta.glob<{default: ImageMetadata}>('../assets/screenshots/*.webp');
if (!images[path]) throw new Error(`"${path}" does not exist in glob: '../assets/screenshots/*.webp'`);
---

<div class="flex flex-col items-center justify-center w-full p-4 shadow-xl shadow-forest-200/20">
    <div>
        <h3 class="text-2xl text-forest-400/80 font-semibold uppercase mb-2">{title}</h3>
        <a href={url}>
            <Image class:list={'h-100 object-contain object-center sm:object-cover'} src={images[path]()} alt={alt} width={600} height={400}/>
        </a>
    </div>
    <div class="flex items-center p-4 w-full bg-forest-200/75 rounded-b-md">
        <p class="text-forest-400 prose">{description}</p>
    </div>
</div>